*
  {
    margin:0px;
    padding: 0Px;
    box-sizing: border-box;
    font-family:sans-serif;
    background-color:antiquewhite;
}

.header
{
    color:black;
    background-color:cadetblue
}
img
{
    
    width:400px;
    height:350px;
    border-radius: 50%;
}
    nav 
    {
        display: flex;
        gap: 15px;
        justify-content:end;
        padding:20px; 
    } 
        nav li a
      {
        text-decoration: none;
        font-size: 20px;
        color: blue;  
    }
    nav li
    {
        list-style-type: none;  
    }
    nav a:hover
    {
        color: black;
        
    }
    .main
    {
       display:flex;
       justify-content:space-between;
       align-items: center;
       gap: 100px;
 
    }
    .content
    {
    position: relative;
     margin-left: 70px; 
     font-size: larger;  
 
    }
    button
    {
        height: 70px;
        width: 100px;
        margin: 10PX;
        background-color: cadetblue;
        border-radius: 5PX;
    }
    .image
    {
        
        margin-right: 400px;   
        border-radius:10px;
    }
    span
    {
        color: blue;
    }
    
    .cards
    {
        display:flex;
        flex-wrap: wrap;
        margin: 50px;
        background-color:beige;
        position:relative;

        
    }
    .card
    {

        width:300px;
        background-color:blanchedalmond;
        border-radius: 5px;
        margin:40px;
        
    }
    .card img
    {
        
        width:250px;
        height: 200px;
        margin: 10px;
        border-radius: 10px;

    }
    
    .card p
    {
        font-style: italic;
        background-color:blanchedalmond;

    }
    .head
    {
        color: black;
        margin-top:50px;
        

    }
    footer
    {
        padding: 20px;
        margin: 10px;
        display: flex;
        justify-content: space-between;
    }
    input
    {
        height:50px;
    }
       .left h1
       {
        font-size: 50px;
       }
    
    
       
    td,th
    {
      padding: 20px;
    }
    table
    {
        margin-left: 400px;
    } 

     .logo
     {
        
        width: 20px;
        height: 20px;
     }
     @media (max-width:790px)
     {
         nav{
            flex-direction: column;
            align-items: center;
            gap: 10px;
         }
         .main{
            flex-direction: column;
            text-align: center;
         }
         .image img
         {
    
            margin-left: 400px;
            
         }

        .footer
        {
            flex-direction: column;
            text-align: center;
            gap: 20px;

        }
        table ,th,tr

        {
            display: block;
            margin-left: 40px;
        }
     }
        
     
